body{
    background: rgb(204, 229, 250) !important;
}

.App {
    text-align: center;
}

.category {
    max-width: 800px !important;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.Polaris-Button--primary {
    float: left !important ;
    margin-top: 15px !important;
}

.attr_table {
    padding-top: 50px !important;
}

.border {
    border: 2px solid black;
    padding: 80px;
    margin-top: 20px;
}